
/* 

POA Theme: #303d7b

*/

body {
	background-color:#f3f5f9;
}

.logopic {
	text-align: center;
	background-color:#f3f5f9;
}

.logo {
	width:390px;
}

hr {
	background-color:black;
}

h5 {
	font-family:Comfortaa;
	font-weight: bold;
}

.navbar {
	position: sticky;
	top: 0;
	background-color: #303d7b;
	z-index: 1000;
}

.nav {
	padding-right: 25px;	
	padding-left: 25px;
	padding-top:10px;	
	padding-bottom:10px;

	box-sizing: border-box;

	font-family: comfortaa;
	color:white;
	font-size:15px;
	text-align: center;
	background-color:#303d7b;
	text-decoration: none;
	border-radius: 0px;

	border-bottom: 0px solid red;

	transition: 0.25s;
}

.nav[href="#active"] {
	color: white;
	border-bottom: 7px solid red;
}

.nav:hover {
	text-decoration: none;
	color: white;
	border-bottom: 7px solid green;
}

.collapse-btn {
	padding: 10px;
	background-color: #303d7b;
	color: white;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	transition: 0.5s;
	min-width: 5%;
	vertical-align: middle;
	margin-left: 20px;
}

.more-sub {
	text-transform: uppercase;
	letter-spacing: 2px;
	user-select: none;
	cursor: pointer;
	text-align:center;
	min-width: auto;
	background-color: rgb(240, 240, 240);
	padding-bottom: 20px;
	z-index: 50;
	white-space: nowrap;
}

.intro {
	background-color: #f3f5f9;
}

.updates {
	padding:10px;
	text-align:center;
}

.article {
	text-decoration: none !important;
	color: black !important;
	padding: 20px;
	box-shadow: 10px 10px 60px -33px rgba(0,0,0,0.75);
	display: none;
	margin-bottom: 20px;
	transition: 1s;
}

.article:first-of-type {
	display: inline-block;
}

.article-date {
	color: #303d7b;
	font-weight: bold;
}

h2{
	font-family:Comfortaa;
	font-weight: bold;
}

p {
	font-size: 18px;
}

.article-img {

	border-radius: 7px;

}

@media screen and (max-width: 800px) {
	.nav {
		font-size: 10px;
		padding:10px;
	}

	.nav:hover {
		font-size:13px;
	}

	p {
		font-size: 10px;
	}	

	.left-img, .right-img {
		max-height: 150px;
		max-width: 150px;
	}

	.footer {
		font-size: 10px;
	}

	span {
		font-size: 30px;
	}

	.title {
		padding-top: 100px;
		padding-left: 10px;
	}

	.logo {
		height: 40%;
		width: 40%;
	}

	.logopic {
		text-align: center;
	}

	.footer {
		padding: 0;
	}

	.footer-section {
		max-width: 90%;
		padding: 0;
		margin: 0;
	}

	.instagram-post-image {
		max-width: 100px;
	}

}

.left-img {
	max-height:300px;
	max-width:300px;
	background: orange;
	margin-right:20px;

}

.right-img {
	max-height:300px;
	max-width:300px;
	background:orange;
	margin-left:20px;
}

.left-title {
	text-align: left;
}

.right-title {
	text-align: right;
}

.title-text {
	background-color:none;
	padding: 10px;
	height: 300px;
	text-decoration: none;
	color:black;
}

.click:hover {
	opacity: 0.7;
	background-color:rgb(255, 224, 204);
	text-decoration: none;
	color:black;
}

.title-text:hover {
	text-decoration: none;
}

.intermediate-banner-wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #303d7b;
	width: 100%;
	color: white;
	padding: 20px;
	user-select: none;

	transition: 0.25s;
}

.join-convo {
	color: white;
	display: inline-block;
	vertical-align: middle;
	font-family: 'Anton', sans-serif;
	vertical-align: middle;
	text-decoration: none;
	font-size: 3em;
}

.inline-img {
	display: inline-block;
	vertical-align: middle;
	vertical-align: middle;
	text-decoration: none;
	max-height: 6em;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;

	transition: 0.25s;
}

.inline-img:hover {

	transition: 0.25s;
	transform: translateY(-5px);

}

.inline-insta {
	max-height: 3.0em;
	filter: invert(1);
	margin-left: 0px;
}

.inline-fb {

	max-height: 3em;
	max-width: 3em;

}

.inline-img:hover, .join-convo:hover {
	text-decoration: none;
	color: white;
}

.footer {

	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
	text-align: left;
	margin-top: 5vh;
	background-color: #303d7b;
	width: 100%;
	color: white;
	padding: 20px;

}

.footer-section {
	margin: 20px;
	max-width: 30%;
}

.footer-section a {
	background-color: black;
	color: yellow;
	font-family: monospace;
	padding: 3px;
	border-radius: 2px;
}

/* Instagram posts container */
.instagram-container {
	display: flex; /* or inline-flex */
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: flex-start;
	width: 100%;
}

.instagram-post {
	flex-grow: 1;
	max-width: 600px;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 10px 10px 60px -33px rgba(0,0,0,0.75);

	margin-top: 2vh;
	margin-bottom: 2vh;

}

.instagram-post-text {
	overflow-wrap: break-word;
}

.instagram-post-image{
	max-width: 550px;
	border-radius: 20px;
	margin-bottom: 15px;
}

.instagram-logo {
	opacity: 0.75;
	max-height: 3vh;
	margin-top: 2vh;
	margin-left: 2vh;
	position: absolute;
	z-index: 100;
}


/*subpages*/

.title{
	background-color: darkblue;
	height:420px;
	position: relative;
	padding-top: 250px;
	padding-left: 10px;
}

.big-text {
	font-size: 80px;
	color: black;
	/*background-color:rgb(255, 241, 191);*/
	background-color: lightblue;
	font-family:impact;
}


