
body {
	background-color:#4a6f73;
	max-width: 100%;
}
h5 {
	font-family:Comfortaa;
}

.row {
	background-color:#f3f5f9;
	padding:4px;
}

.navbar {
	padding:10px;
}

.nav {
	padding:10px;
	font-family:comfortaa;
	color:black;
	font-size:15px;
	text-align: left;
}

.nav:hover {
	background-color:#c09502;
	text-decoration:none;
	font-weight: bold;
	color:white;
}

.updates {
	background-color:#f3f5f9;
	height:500px;
	padding:10px;
	text-align:center;
}

h2{
	font-family:Comfortaa;
	font-weight: bold;
}

@media screen and (max-width: 800px) {
	.nav {
		font-size: 10px;
		}
}

