/* 
POA Theme: #303d7b
*/

body {
	background-color:#f3f5f9;
	overflow-x: hidden;
	font-family: Trebuchet MS;
	padding: 0; margin: 0;
}

.logopic {
	text-align: center;
	background-color:#f3f5f9;
}

.logo {
	width:390px;
}

hr {
	background-color:black;
}

h5 {
	font-family:Comfortaa;
	font-weight: bold;
}

.navbar {
	position: sticky;
	top: 0;
	background-color: #303d7b;
	z-index: 1000;
}

.nav {
	padding-right: 25px;	
	padding-left: 25px;
	padding-top:10px;	
	padding-bottom:10px;

	box-sizing: border-box;

	font-family: comfortaa;
	color:white;
	font-size: 1rem;
	text-align: center;
	background-color:#303d7b;
	text-decoration: none;
	border-radius: 0px;

	border-bottom: 7px solid #303d7b;
}

.nav[href="#active"] {
	color: white;
	border-bottom: 7px solid red;
}

.nav:hover {
	text-decoration: none;
	color: white;
	border-bottom: 7px solid #c09502;
	transition: 0.25s;
}

.collapse-btn {
	padding: 10px;
	background-color: #303d7b;
	color: white;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	transition: 0.5s;
	min-width: 5%;
	vertical-align: middle;
	margin-left: 20px;
}

.more-sub {
	text-transform: uppercase;
	letter-spacing: 2px;
	user-select: none;
	cursor: pointer;
	text-align:center;
	min-width: auto;
	background-color: rgb(240, 240, 240);
	padding-bottom: 20px;
	z-index: 50;
	white-space: nowrap;
}

.intro {
	background-color: #f3f5f9;
	width:100%;
}

.intro h1 {
	width: 100%;
	padding: 30px;
}

.updates {
	padding:10px;
	text-align:center;
}

.article {
	text-decoration: none !important;
	color: black !important;
	padding: 20px;
	box-shadow: 10px 10px 60px -33px rgba(0,0,0,0.75);
	display: none;
	margin-bottom: 20px;
	transition: 1s;
}

.article:first-of-type {
	display: inline-block;
}

.article-date {
	color: #303d7b;
	font-weight: bold;
}

.article-content {
	font-size: 0.85rem;
}

h2{
	font-family:Comfortaa;
	font-weight: bold;
}

p {
	font-size: 18px;
}

.article-img {

	border-radius: 7px;

}

.left-img {
	max-height:300px;
	max-width:300px;
	background: orange;
	margin-right:20px;

}

.right-img {
	max-height:300px;
	max-width:300px;
	background:orange;
	margin-left:20px;
}

.left-title {
	text-align: left;
}

.right-title {
	text-align: right;
}

.title-text {
	background-color:none;
	padding: 10px;
	text-decoration: none;
	color:black;
}

.click:hover {
	opacity: 0.7;
	background-color:rgb(255, 224, 204);
	text-decoration: none;
	color:black;
}

.title-text:hover {
	text-decoration: none;
}

.intermediate-banner-wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #303d7b;
	width: 100%;
	color: white;
	padding: 20px;
	user-select: none;

	transition: 0.25s;
}

.join-convo {
	color: white;
	display: inline-block;
	vertical-align: middle;
	font-family: 'Anton', sans-serif;
	vertical-align: middle;
	text-decoration: none;
	font-size: 3rem;
}

.socials {
	display: inline-flex;
	margin-left: 20px;
	flex-flow: row;
	height: 100%;
	align-items: center;
	justify-content: space-evenly;
}

.inline-img {
	display: inline;
	text-decoration: none;

	margin: 15px;
	padding: 0;

	max-height: 3em;

	transition: 0.25s;
}

.inline-img:hover {

	transition: 0.25s;
	transform: translateY(-5px);

}

.inline-insta {
	max-height: 3.0em;
	filter: invert(1);
}

.inline-fb {

	max-height: 3em;
	max-width: 3em;

}

.inline-img:hover, .join-convo:hover {
	text-decoration: none;
	color: white;
}

.footer {

	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
	text-align: left;
	margin-top: 5vh;
	background-color: #303d7b;
	width: 100%;
	color: white;
	padding: 20px;

}

.footer-section {
	margin: 20px;
	max-width: 30vw;
	padding: 15px;
	border-radius: 10px;
	box-shadow: inset 10px 10px 58px -43px rgba(0,0,0,0.75);
}

.footer-section a {
	background-color: black;
	color: yellow;
	font-family: monospace;
	padding: 5px;
	border-radius: 2px;
}

.jmss-info-banner {
	background-color: rgb(19, 37, 50);
	box-shadow: inset 10px 10px 58px -43px rgba(0,0,0,0.75);
	border-radius: 2em;
	height: 4em;
	width: 100%;
}

.jmss-info-banner strong {

	font-size: 0.9em;
	vertical-align: bottom;

}

.jmss-info-banner img {
	max-height: 4em;
	float: left;
	margin-right: 15px;
}

/* Instagram posts container */
.instagram-container {
	display: flex; /* or inline-flex */
	margin-top: 3rem;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: flex-start;
	width: 100%;
}

.instagram-post {
	flex-grow: 1;
	max-width: 600px;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 10px 10px 60px -33px rgba(0,0,0,0.75);

	margin-top: 2vh;
	margin-bottom: 2vh;

}

.instagram-post-text {
	overflow-wrap: break-word;
}

.instagram-post-image{
	max-width: 550px;
	border-radius: 20px;
	margin-bottom: 15px;
}

.instagram-logo {
	opacity: 0.75;
	max-height: 1rem;
	margin-top: 2vh;
	margin-left: 2vh;
	position: absolute;
	z-index: 100;
}


/*subpages*/

.title{
	background-color: darkblue;
	height:420px;
	position: relative;
	padding-top: 250px;
	padding-left: 10px;
}

.big-text {
	font-size: 3rem;
	color: black;
	font-family: 'Anton', sans-serif;
}

/*updates on the articles*/
.information {
	padding: 40px;
	padding-left:20px;
	margin-bottom: 0px;
	font-family: Comfortaa;
}

.information img {
	margin: 1rem 0;
}

.floatimage {
	float:right;
	padding: 25px;
}

.articleimage {
	float:left;
	max-height: 25%;
	max-width: 25%;
	padding: 10px
}

.articles-quiz {
	text-decoration: none;
	color:black;
	font-family: Comfortaa;
	font-weight: bold;
	font-size: 40px;
	margin-bottom: 200px;
}

.articles-quiz:hover {
	opacity:0.3;
	text-decoration: none;
}

.article-info {
	font-size: 30px;
	color:#303d7b;
}

.nojs {
	width: 100vw;
	background-color: lightcoral;
	display: none;
	align-items: center;
	justify-content: center;
	min-height: 10vh;
}

.nojs strong {
	text-align: center;
	color: white;
}

.quizzes {
	width: 100vw;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: flex-start;
}

.quizzes .quiz {
	margin: 30px;
	border: 2px solid lightcoral;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 0 rgb(199, 199, 199);
	transition: 0.25s;
	
	max-width: 33%;
}

.quizzes .quiz:hover {
	box-shadow: -5px 5px rgb(199, 199, 199);
	transform: translateX(5px) translateY(-5px);
}

.quizzes .quiz img {
	width: 100%;
	margin-bottom: 20px;
}

/* Mobile formatting (keep at bottom) */
@media screen and (max-width: 800px) {

	.instagram-post {max-width: 90vw;}
	.instagram-post a img { max-width: 100%; }

	.nav {
		font-size: 10px;
		padding:10px;
	}

	.nav:hover {
		font-size:13px;
	}

	p,li {
		font-size: 10px;
	}	

	.left-img, .right-img {
		max-height: 150px;
		max-width: 150px;
	}

	.title {
		padding-top: 100px;
		padding-left: 10px;
	}

	.logo {
		height: 40%;
		width: 40%;
	}

	.logopic {
		text-align: center;
	}

	.join-convo {font-size: 1rem;}

	.footer {
		padding: 0;
		font-size: 10px;
	}

	.footer-section {
		max-width: 100vw;
		padding: 0;
		margin: 10px 1rem;
		box-shadow: none;
		border-radius: 0;
	}

	.footer .footer-section a { padding: 3px; }

	.footer .footer-section .jmss-info-banner { display: none; }

	.instagram-post-image {
		max-width: 100px;
	}

	.floatimage {
		float:none;
		padding: 0px;
		margin:0px;

		/*resizing image*/
		height: 100%;
		width: 100%;
	}

	.information {
		padding: 0px;
		margin: 1rem;
	}

	.information p { font-size: 0.75rem; }

	.quizzes .quiz {
		max-width: 100%;
	}

}


.border-submissions {
	border-width: 40px / 20px;
	border-radius: 80px / 60px;
	background-color: #bff0ff;
	padding: 30px;
	text-align: centre;
}

.border-submissions:hover {
	background-color: #8dd5eb;
}

.border-sub:hover {
	background-color: #bff0ff;
}

.border-sub {
	border-color: #4083ed;
	border-width: 40px / 20px;
	border-radius: 80px / 60px;
	background-color: #8dd5eb;
	padding: 30px;
	text-align: centre;
}

.credits {
	position: absolute;
  	bottom: 30px;
  	right: 16px;
	background-color:#799cdb;
	color:white;
}
