
body {
    padding: 2rem;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    font-family: 'Lora', serif; 

}

.text {
    max-width: 900px;
}

.back {
    position: absolute;
    display: block;

    z-index: 999;

    top: 10px;
    left: 10px;

    font-size: 1rem;
}

.share {
    position: fixed;
    display: block;
    z-index: 999;
    top: 10px;
    right: 10px;

    color: black;
}

.back, .share {
    text-decoration: none;
    padding: 10px;
}

.sharewrapper {

    display: flex;
    position: fixed;
    margin: 0;

    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    visibility: hidden;

}

.sharewrapper div {
    
    background-color: white;
    padding: 50px;

    box-shadow: 10px 10px;
    border: 2px solid lightcoral;

}

#sharelink {
    font-size: 2rem;
}

#closeshare {
    font-size: 0.85rem;
}